<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @Html.Settings("SiteName")</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @System.Web.Optimization.Styles.Render("~/Content/css")
        @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
        @System.Web.Optimization.Styles.Render("~/Content/main")
        @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="@ViewBag.BodyCssClass">
		<div id="main-wrapper">
			<header>
				<div class="content-wrapper">

					<nav>
						@RenderSection("menu", required: false)
					</nav>

					<div id="header-upper">
						<div class="float-left">
							<div class="site-logo">
								<img src="/Images/site_logo.png" alt="@Html.Settings("SiteName")" />
							</div>
						</div>

						<div class="float-right">
							<div id="signin">
								@Html.Partial("_SigninPartial")
							</div>
						</div>
					</div>

					<div class="break"></div>
					<div id="header-lower">
						<h1>@ViewBag.Title</h1>

						<div class="float-right" id="page-infos">
							@RenderSection("pageinfos", required: false)
						</div>

						<div class="user-actions">
							@RenderSection("actions", required: false)
						</div>
					</div>
				</div>
			</header>

			<div id="body">
				@RenderSection("featured", required: false)
				<section class="content-wrapper main-content clear-fix">
					@RenderBody()
				</section>
			</div>
			<footer>
				<div class="content-wrapper">
					<div class="float-left">
						@*<p>&copy; @DateTime.Now.Year</p>*@
					</div>
				</div>
			</footer>

			@System.Web.Optimization.Scripts.Render("~/bundles/underscore")
			@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
			@System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
			@RenderSection("scripts", required: false)

@{
			var controllerName = Request.RequestContext.RouteData.Values["controller"];
			string path = "";
			string dirName = "";

			var view = ViewContext.View as System.Web.Mvc.RazorView;
			if(view != null) {

				string name = Path.GetFileNameWithoutExtension(view.ViewPath).ToLower();

				dirName = Path.GetDirectoryName(view.ViewPath);
				path = "~/bundles/scripts/pages/" + controllerName + "." + name;
				path = path.ToLower();
			}
}
		</div>
		@if(System.Web.Optimization.BundleTable.Bundles.Any(a => a.Path.ToLower() == path)) {
			@System.Web.Optimization.Scripts.Render(path);
		}
	</body>
</html>
