<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @Html.Settings("SiteName")</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @System.Web.Optimization.Styles.Render("~/Content/css")
        @System.Web.Optimization.Styles.Render("~/Content/main")
        @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="@ViewBag.BodyCssClass">
		<div id="main-wrapper">
			
			<div id="body">
				@RenderSection("featured", required: false)
				<section class="content-wrapper main-content clear-fix">
					@RenderBody()
				</section>
			</div>
			<footer>
				<div class="content-wrapper">
					<div class="float-left">
						@*<p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>*@
					</div>
				</div>
			</footer>

			@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
			@RenderSection("scripts", required: false)
			
		</div>
	</body>
</html>
