@if(Request.IsAuthenticated) {
	<div class="user-menu">
		<span>@User.Identity.Name ▼</span>

		<ul class="menu">
			<li>@Html.ActionLink("Home", "Home", "Projects")</li>
			<li>@Html.ActionLink("Manage projects", "Index", "Projects")</li>

			<li>@Html.ActionLink("My Account", "Manage", "Account", null, new { @class = "username", title = "Manage" })</li>
            @if (Roles.IsUserInRole("admin")) {
                <li class="separator"></li>
                <li>@Html.ActionLink("Manage plans", "Index", "Plans")</li>
                <li>@Html.ActionLink("Manage floors", "Index", "Floors")</li>
                <li>@Html.ActionLink("Manage materials", "Index", "Assets")</li>
            }
            <li class="separator"></li>
			<li>
				@using(Html.BeginForm("Signout", "Account", FormMethod.Post, new { id = "signoutForm" })) {
					@Html.AntiForgeryToken()
					<a href="javascript:document.getElementById('signoutForm').submit()">Signout</a>
				}
			</li>
		</ul>
	</div>
} else {
    <ul class="unregister">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Signin", "Signin", "Account", routeValues: null, htmlAttributes: new { id = "signinLink" })</li>
    </ul>
}
