@if(Request.IsAuthenticated) {
	<div class="user-menu">
		<span>@User.Identity.Name ▼</span>

		<ul class="menu">
			<li>@Html.ActionLink("Home", "Home", "Projects")</li>
			<li>@Html.ActionLink("My Account", "Manage", "Account", null, new { @class = "username", title = "Manage" })</li>
			<li>
				@using(Html.BeginForm("Signout", "Account", FormMethod.Post, new { id = "signoutForm" })) {
					@Html.AntiForgeryToken()
					<a href="javascript:document.getElementById('signoutForm').submit()">Signout</a>
				}
			</li>
		</ul>
	</div>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Signin", "Signin", "Account", routeValues: null, htmlAttributes: new { id = "signinLink" })</li>
    </ul>
}
