@model ShiftRight.Heim.Models.PlanViewModel

@{
    ViewBag.Title = "Edit plan - " + Model.Name;
}

@section actions{
    @Html.ActionLink("Back to List", "Index")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<fieldset>
	@Html.Partial("_CreateOrEdit", Model)
	
	<div class="attributes aside">
		<h3>Attributes</h3>

		<ul class="list">
			@foreach(var item in Model.Attributes) {
				<li class="editor-field">
					@Html.ActionLink(item.Name, "Edit", "Attributes", new { ID = item.ID }, null)
					@Html.ActionLink("Delete", "Delete", "Attributes", new { id = item.ID }, null)
				</li>
			}

			<li class="add">
				<form action="/Plans/AddAttribute" method="post">
					
					<input type="hidden" name="PlanID" value="@Model.ID" />
					<input type="text" name="name" value="" placeholder="Name" />
					<input type="text" name="value" value="" placeholder="Value" />
					<input type="text" name="unit" value="" placeholder="Unit" />

					<input type="submit" name="AddAttribute" value="Add" />
				</form>
			</li>
		</ul>
	</div>
	
	<div class="break"></div>
</fieldset>