@model ShiftRight.Heim.Controllers.ExteriorViewModel

@{
    ViewBag.Title = "Exterior Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu{
	<ul class="menu steps">
		<li class="selected"><a class="step-exterior" href="/Design/Exterior" title="Exterior">Exterior</a></li>
		<li><a class="step-furniture" href="/Design/Furniture" title="Furniture">Furniture</a></li>
		<li><a class="step-wallpaper" href="/Design/Wallpaper" title="Wallpaper">Wallpaper</a></li>
		<li><a class="step-electricity" href="/Design/Electricity" title="Electricity">Electricity</a></li>
	</ul>
}

@section scripts{
	<script type="text/javascript">
			var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
			if (document.location.protocol == 'https:') {
				unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
			}
			document.write('<script src="' + unityObjectUrl + '"><\/script>');
	</script>

	@Scripts.Render("~/Scripts/Engine/Designer")

	<script type="text/javascript">
		var $currentProject = @Html.Raw(Model.Project.Data)
	</script>
}

@section actions{
	<a href="#info" class="info">@Model.ProjectName</a>
}


<div class="design exterior">
	<div class="main">

		<div id="designer">
			<div class="missing">
				<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
					<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
				</a>
			</div>
			@*<p>Initializing awesomeness...</p>*@
		</div>
	</div>

    <div class="command-bar">
        <button class="toggle-maximize"></button>    
        <button class="add-window">+</button>
        <button class="remove-window">X</button>
        <button class="walkthrough">V</button>
    </div>
	<div class="aside toolboxes exterior">
		<div class="toolbox tiles" data-tools="tiles">
			<span class="title">Roof tile</span>
			@{
				var roofTiles = Model.Assets.Where(g => g.Key == ShiftRight.Heim.Models.AssetType.RoofTile).FirstOrDefault();
			}

			@if(roofTiles != null){
				@Html.Partial("_Toolbox", roofTiles)
			}
            <!-- TODO: remove me after demo -->
            <ul class="list" data-type="roof" data-func="ChangeRoof" data-cast="int">
		        <li data-id="0" class="selected">
			        <img src="/Images/Textures/roof_black_slate.jpg" />
		        </li>
		        <li data-id="1">
			        <img src="/Images/Textures/roof_basic.jpg" />
		        </li>
		        <li data-id="2">
			        <img src="/Images/Textures/roof_dirt.jpg" />
		        </li>
            </ul>
		</div>
		@{
			var floorTiles = Model.Assets.Where(g => g.Key == ShiftRight.Heim.Models.AssetType.Tile).FirstOrDefault();
		}

		@foreach(var fl in Model.Floors.OrderByDescending(fl => fl.FloorNumber)) {
			<div class="toolbox floors" data-floor="@fl.FloorNumber">
				@if(floorTiles != null) {
					<span class="title">Exterior tile: FL @fl.FloorNumber</span>
					@Html.Partial("_Toolbox", floorTiles)
				}
			</div>
		}

		<div class="toolbox tiles" data-tools="tiles">
			<span class="title">1st Floor</span>
            <ul class="list" data-type="roof" data-func="ChangeFloor1" data-cast="int">
		        <li data-id="0" class="selected">
			        <img src="/Images/Textures/wall_beige_white.jpg" />
		        </li>
		        <li data-id="1">
			        <img src="/Images/Textures/wall_brick.jpg" />
		        </li>
		        <li data-id="2">
			        <img src="/Images/Textures/wall_stone.jpg" />
		        </li>
            </ul>
		</div>
		<div class="toolbox tiles" data-tools="tiles">
			<span class="title">2nd Floor</span>
            <ul class="list" data-type="roof" data-func="ChangeFloor2" data-cast="int">
		        <li data-id="0" class="selected">
			        <img src="/Images/Textures/wall_beige_white.jpg" />
		        </li>
		        <li data-id="1">
			        <img src="/Images/Textures/wall_brick.jpg" />
		        </li>
		        <li data-id="2">
			        <img src="/Images/Textures/wall_stone.jpg" />
		        </li>
            </ul>
		</div>
	</div>

	<div class="aside toolboxes furniture">
		<div class="toolbox tiles" data-tools="tiles">
			<span class="title">Tile</span>
            <ul class="list" data-type="roof" data-func="SetCurrentFloorTexture">
		        <li data-id="floor_tile" class="selected">
			        <img src="/Images/Textures/floor_tile.jpg" />
		        </li>
		        <li data-id="floor_marble">
			        <img src="/Images/Textures/floor_marble.jpg" />
		        </li>
		        <li data-id="floor_basketball">
			        <img src="/Images/Textures/floor_basketball.jpg" />
		        </li>
            </ul>
		</div>
		<div class="toolbox tiles" data-tools="tiles">
			<span class="title">Tile</span>
            <ul class="list" data-type="roof" data-func="SetCurrentWindow" data-cast="int">
		        <li data-id="1" class="selected">
			        <img src="/Images/" />
		        </li>
		        <li data-id="2">
			        <img src="/Images/" />
		        </li>
            </ul>
		</div>
	</div>

	<div class="aside toolboxes wallpaper">
		<div class="toolbox tiles" data-tools="tiles">
			<span class="title">Wallpaper</span>
            <ul class="list" data-type="roof" data-func="SetCurrentWallTexture">
		        <li data-id="wall_beige" class="selected">
			        <img src="/Images/Textures/wall_beige.jpg" />
		        </li>
		        <li data-id="wall_dark">
			        <img src="/Images/Textures/wall_dark.jpg" />
		        </li>
		        <li data-id="wall_gray">
			        <img src="/Images/Textures/wall_gray.jpg" />
		        </li>
            </ul>
		</div>
	</div>

	<div class="break"></div>
</div>