@model ShiftRight.Heim.Controllers.ExteriorViewModel

@{
    ViewBag.Title = "Exterior Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu{
	<ul class="menu steps">
		<li class="selected"><a class="step-exterior" href="/Design/Exterior" title="Exterior">Exterior</a></li>
		<li><a class="step-furniture" href="/Design/Furniture" title="Furniture">Furniture</a></li>
		<li><a class="step-wallpaper" href="/Design/Wallpaper" title="Wallpaper">Wallpaper</a></li>
		<li><a class="step-electricity" href="/Design/Electricity" title="Electricity">Electricity</a></li>
	</ul>
}

@section scripts{
	<script type="text/javascript">
			var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
			if (document.location.protocol == 'https:') {
				unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
			}
			document.write('<script src="' + unityObjectUrl + '"><\/script>');
	</script>
	@Scripts.Render("~/Scripts/Engine/Designer")

	<script>
		var designer = SR.Heim.Designer.init('#designer', {
			onUnityLoaded: function () {
				this.loadHouse();
			}
		});
	</script>
}

@section actions{
	<a href="#info" class="info">@Model.ProjectName</a>
}

<div class="design exterior">
	<div class="main">

		<div id="designer">
			<div class="missing">
				<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
					<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
				</a>
			</div>
			@*<p>Initializing awesomeness...</p>*@
		</div>
	</div>

	<div class="aside toolboxes">

		<div class="toolbox tiles" data-tools="tiles">
			<span class="title">Roof tile</span>
			@{
				var roofTiles = Model.Assets.Where(g => g.Key == ShiftRight.Heim.Models.AssetType.RoofTile).FirstOrDefault();
			}

			@if(roofTiles != null){
				@Html.Partial("_Toolbox", roofTiles)
			}
		</div>

		@foreach(var fl in Model.Floors) {
			
			<div class="toolbox tiles">
				<span class="title">Roof tile: FL @fl.FloorNumber</span>
				@Html.Partial("_Toolbox", roofTiles)
			</div>
		}

	</div>

	<div class="break"></div>
</div>