@model ShiftRight.Heim.Models.CustomizeProjectViewModel
@{
	ViewBag.BodyCssClass = "customize-new-project";
}

@section actions{
	<a href="#create-project" class="new-project" >Create project</a>
}

<script type="text/javascript">
	var _model = @Html.Raw(Json.Encode(new {
				planId = Model.Plan.ID,
				previewImageUrl = Href(Model.PreviewImage),
				name = Model.Plan.Name
			}))
</script>

<div id="project-infos">
	<div class="preview">
		<img src="@Href(Model.PreviewImage)" alt="@Model.Name" />
	</div>
	
	<div class="attributes">
		<table>
			@foreach(var attr in Model.Attributes){
				<tr>
					<td class="label">@attr.Name</td>
					<td class="value">@attr.Value</td>
					<td class="unit">@attr.Unit</td>
				</tr>
			}
		</table>
	</div>
	<div class="break"></div>
</div>

<div id="floors">
	@foreach(var floor in Model.Plan.Floors){
		<div class="floor" data-floor="@floor.FloorNumber">
			<h2>@floor.Name</h2>
			<div class="plan-preview">
				<img src="@Href(floor.PlanPreviewImage)" alt="Plan of @floor.Name" />
			</div>
			
			<ul class="floor-plan-variants list">
				@foreach(var opt in floor.Variants){
					<li class='floor-variant @(opt.IsDefault? "selected": "")' data-id="@opt.ID">
						<span class="name">@opt.Name</span>
						<img src="@Href(opt.PlanPreviewImageFilePath)" alt="Plan option @opt.Name" />
					</li>
				}
			</ul>
			<div class="break"></div>
		</div>
	}
</div>

<div id="create-project" class="dialog modal">

	<script type="text/template" name="create-project-dialog">
		<form action="." method="post" name="create-project">
			<fieldset class="project-infos">

				<input type="hidden" name="planId" value="{{# plan.ID }}" />

				<label for="projectName">Project name</label>
				<input type="text" name="projectName" value="{{# name }}" />
			</fieldset>
			<div class="summary">
				<div class="preview">
					<img src="{{= previewImageUrl }}" alt="{{# name }}" />
				</div>
			
				<ul class="floor-plan-variants list">
					{{ _.each(floors, function(v){ }}
					<li class="floor">
						<span class="name">Floor {{# v.floorNumber }} - {{# v.name }}</span>
						<img src="{{= v.previewImageUrl }}" alt="{{# v.name }}" />
					</li>
					{{ }); }}
				</ul>
			<div class="break"></div>
			</div>
		</form>
	</script>
</div>