@model ShiftRight.Heim.Models.ProjectHomeViewModel

@{
	ViewBag.Title = "Recent projects";
}

@section actions{
	<a href="/Projects/New" class="new-project" >New project</a>
}

<div id="recent-projects" class="project-grid">

	@if(Model.Projects.Count() > 0){
	<ul class="list">
		@foreach(var item in Model.Projects){
		<li class="project" data-id="@item.ID">
			<a href="/Design/Open/@item.ID">
				<img class="preview" src="@Href(item.PreviewImage)" alt="@item.Name" />

			</a>
				<span class="data-item name">
					<span class="label">@item.Name</span>
				</span>
				<span class="data-item plan-name">
					<span class="label">@item.Plan.Name</span>
				</span>
				<span class="data-item usage-area">
					<span class="label">Usage area</span>
					<span class="data">@item.Plan.Area.Usage sqm.</span>
				</span>
				<span class="data-item land-area">
					<span class="label">Land area</span>
					<span class="data">@item.Plan.Area.Land sqm.</span>
				</span>
		</li>
		}
	</ul>
	}else{
		<p>Your recent project list is empty, <a href="/Projects/New">why not create one?</a></p>
	}
</div>