@model ShiftRight.Heim.Controllers.ProjectIndexViewModel
@{
    ViewBag.Title = "Projects";
}

@section actions{
    @Html.ActionLink("Create New", "New", "Projects", null, null)
}

<table class="datagrid">
    <tr>
        <th class="col-actions">&nbsp;</th>
        <th class="col-data">
            Name
        </th>
        <th class="col-data">
            Created
        </th>

        <th class="col-data">
            Owner
        </th>
    </tr>

@foreach (var item in Model.Projects) {
    <tr>
        <td class="col-actions">
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            @*| @Html.ActionLink("Edit", "Edit", new { id = item.ID })*@
        </td>
        <td>
            @*@Html.ActionLink(item.Name.Default("-").ToString(), "Details", new { id=item.ID })*@
			@item.Name.Default("-").ToString()
        </td>
        <td>
			@item.Created.ToLocalTime().ToString("G")
            @*@Html.ActionLink(item.Created.ToLocalTime().ToString("G"), "Details", new { id=item.ID })*@
        </td>
        <td>
            @item.Owner.Username
        </td>
    </tr>
}

</table>


