@model ShiftRight.Heim.Models.NewProjectViewModel
@{
	ViewBag.BodyCssClass = "select-house-plan";
}

@section actions{
	<form class="search" action="New" method="get">
		@*<input type="hidden" name="section" value="plan" />*@
		<input type="text" name="search" value="@Model.Search" placeholder="SEARCH HERE" />
		<input type="submit" name="submit" value="Search" />
	</form>
}

<div id="plans" class="project-grid">
	@if(Model.Plans.Count() > 0){
	<ul class="list">
		@foreach(var item in Model.Plans){
		<li class="project" data-id="@item.ID">
			<a href="Customize?planid=@item.ID">
				<img class="preview" src="@Href(item.PreviewImage)" alt="@item.Name" />
			
				<span class="data-item plan-name">
					<span class="label">@item.Name</span>
				</span>
				<span class="data-item usage-area">
					<span class="label">Usage area</span>
					<span class="data">@item.Area.Usage sqm.</span>
				</span>
				<span class="data-item land-area">
					<span class="label">Land area</span>
					<span class="data">@item.Area.Land sqm.</span>
				</span>
			</a>
		</li>
		}
	</ul>
	} else {
		<p>No item matched for '@Model.Search'</p>
	}
</div>