@model ShiftRight.Heim.Models.ProjectHomeViewModel

@{
}

@section actions{
	<a href="/Project/New" class="new-project" >New project</a>
}

<section name="recent-projects" class="project-grid">
	<ul class="list">
		@foreach(var item in Model.Projects){
		<li class="project" data-id="@item.ID">
			<a href="#project-@item.ID">
				<img class="preview" src="@item.PreviewImage" alt="@item.Name" />
			
				<span class="data-item name">
					<span class="label">@item.Name</span>
				</span>
				<span class="data-item plan-name">
					<span class="label">@item.Plan.Name</span>
				</span>
				<span class="data-item usage-area">
					<span class="label">Usage area</span>
					<span class="data">@item.Plan.Area.Usage sqm.</span>
				</span>
				<span class="data-item land-area">
					<span class="label">Land area</span>
					<span class="data">@item.Plan.Area.Land sqm.</span>
				</span>
			</a>
		</li>
		}
	</ul>
</section>